.box {
    position: absolute;
    border: solid tan 5px;
    color:thistle;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 500px;
    width: 500px;
    
}

input{
    position: absolute;
    border: solid tan 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 20px;
    width: 100px;
}